.aboutPage {
    margin-top: 30px;;
}

.devsEmail, .devsGitHub{
    color: black;
}
.devsPhoto{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   margin-left: auto;
   margin-right: auto ;
   margin-bottom: 5%;
   
}

.devsInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: helvetica;
    
}

.description{
    padding: 5%;
    font-family: helvetica;
}

.bio{padding: 10px;
padding-left: 40px;
padding-right: 40px;}
    
a:hover {
    color: blue;
    font-weight: bold;
}