ul{
    display: flex;
   flex-direction: column;
   text-align: left;
   font-family: Helvetica, sans-serif;
}

li{
    color: white;
}

.video{
    height: 100vh;
    background-color: black;
    font-family: Helvetica, sans-serif;
}