.Navbar {
    display: grid;
    grid-template-columns: 3fr .5fr .5fr;
    background-color: red ;
    color: white;
    font-family: roboto;
    margin-bottom: 5%;
}
.header{
    text-align: left;
    margin-left: 5%;
}
a{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}